.hlist-inner-wrapper {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
}
.hlist-item-thumbnail > img {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1000000px;
}
.hlist-item-content {
  font-family: "genos-light", "sans-serif", "system-ui";
  text-align: center;
}
.hlist-item {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}
.hlist-item:hover .hlist-item-thumbnail > img {
  outline: 10px solid var(--main-color);
}
@media screen and (max-width: 700px) {
.hlist-inner-wrapper {
  flex-flow: column nowrap;
}
}
