main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 32px;
  padding: 32px;
}
.content-heading {
  font-family: "playfair-display", "serif";
  letter-spacing: 2px;
}
.link {
  text-decoration: none;
  color: #258;
}
.link:hover {
  text-decoration: underline;
  color: var(--blue-gray-color--hover);
}
