.main {
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 64px;
  padding: 32px;
  max-width: 1200px;
}
.content-heading {
  font-family: "playfair-display", "serif";
  letter-spacing: 2px;
}
.link {
  text-decoration: none;
  color: #258;
}
.link:hover {
  text-decoration: underline;
  color: var(--blue-gray-color--hover);
}
h1,
h2,
h3,
h4 {
  margin-top: 24px;
}
