.fullscreen-cover-wrapper {
  background-image: url("../media/jpg/background.jpg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.fullscreen-cover-inner-wrapper {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 60, 0.5);
  display: grid;
  place-content: center;
}
.title {
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}
.title-heading {
  color: var(--white-color);
  font-family: "genos-light", "sans-serif", "system-ui";
  font-size: 7rem;
}
.title-subtitle {
  color: var(--main-color);
  font-family: "playfair-display", "serif";
  font-size: 2rem;
}
main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.header {
  color: #000;
  position: sticky;
  background: #000;
  color: var(--white-color);
  padding: 8px;
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
  align-items: center;
  top: 0px;
}
.header-link--home {
  margin-right: auto;
}
.header-link {
  color: var(--white-color);
  font-family: "genos-bold-italic", "sans-serif", "system-ui";
  text-decoration: none;
  font-size: 32px;
}
.header-link--active {
  color: #acd;
}
.article {
  display: grid;
  max-width: 1200px;
  margin: 16px;
  font-family: "genos-light", "sans-serif", "system-ui";
}
.article:nth-child(2n) {
  grid-template-columns: 40fr 60fr;
}
.article:nth-child(2n + 1) {
  grid-template-columns: 60fr 40fr;
}
.article:nth-child(2n + 1) > .article-content {
  grid-column: 1/2;
  grid-row: 1/2;
}
.article:nth-child(2n + 1) > .article-title {
  grid-column: 2/3;
}
.article-title {
  padding: 1rem;
}
.article-name {
  font-size: 2rem;
}
.article-subtitle {
  font-size: 16px;
  letter-spacing: 3px;
}
.article-content{
  font-size: 24px;
}
