.fullscreen-cover-wrapper{
  background-image: url("../media/jpg/background.jpg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.fullscreen-cover-inner-wrapper{
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 60, 0.5);
  display: grid;
  place-content:center;
}
.title{
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}
.title-heading{
 color: var(--white-color);
 font-family: 'playfair-display', 'serif';
 font-size: 5rem;
}
.title-subtitle{
 color:var(--main-color);
 font-family: 'playfair-display', 'serif';
 font-size: 2rem;
}
